.task-form {
    display: flex;
    justify-content: space-between;
    margin: 40px 100px;
    
  }
  
  .scroll-list {
    flex: 1;
    background-color: rgba(200, 200, 200, 0.5);
    border: 2px solid #000;
    border-radius: 15px; /* Закругляем углы */
    padding: 10px;
    overflow-y: auto;
    font-size: 16px;
    margin-right: 100px;
    height: 750px; 
    width: 300px; /* Увеличиваем ширину списка */
    margin-left: 90px; /* Уменьшаем отступ от левого края */
  }
  
  .scroll-list h3 {
    margin-top: 0;
    text-align: center;
}

.scroll-list ul {
    list-style-type: none;
    padding: 0;
}

.scroll-list li {
    padding: 5px 0;
    color: #000;
    font-size: 16px;
}

.scroll-list a {
    color: #000;
    text-decoration: none;
}

.scroll-list a:hover {
    text-decoration: underline;
}


.scroll-list::-webkit-scrollbar{
    width: 10px;

}

.scroll-list::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.search-input{
    
    border: 2px solid #000;
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

.search-input:focus, .search-input:hover {
    outline: none;
    border-color: #000;
}
  

.scroll-list1 {
    flex: 1;
    margin-left: -250px;
    margin-right: -550px;
    max-width: 310px;
    background-color: rgba(200, 200, 200, 0.5);
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px;
    overflow-y: auto;
    max-height: 600px;
    font-size: 16px;
}

.scroll-list1 h3 {
    margin-top: 0;
    text-align: center;
}

.scroll-list1 ul {
    list-style-type: none;
    padding: 0;
}

.scroll-list1 li {
    padding: 5px 0;
    color: #000;
    font-size: 16px;
}

.scroll-list1 a {
    color: #000;
    text-decoration: none;
}

.scroll-list1 a:hover {
    
    text-decoration: underline;
}


.scroll-list1::-webkit-scrollbar{
    width: 10px;

}

.scroll-list1::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.scroll-list2 {
    max-width: 1050px;
    margin-left: -30px;
    margin-right: -200px;
    border: 1px solid #000000;
    margin-top: -20px;
}
.search-input{
    
    border: 2px solid #000;
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

.search-input:focus, .search-input:hover {
    outline: none;
    border-color: #000;
}